/*  Fonts */
@font-face {
  font-family: 'DePixelBreit';
  src: url('../assets/fonts/DePixelBreit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DePixelSchmal';
  src: url('../assets/fonts/DePixelSchmal.ttf') format('truetype');
}

@font-face {
  font-family: 'PCPaintSpecialSmall';
  src: url('../assets/fonts/PCPaintSpecialSmall.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*  Body Styles */
body#custom-body {
  background-color: #0d0c13;
}

.title-banner-container {
  position: relative;
  background-image: url("/assets/img/Glass_Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 50%;
}



.title {
  font-family: 'DePixelBreit';
  position:absolute;
  font-size: 0.8rem;
  background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent; 
  top: 30%; /* Adjust as needed */
  left: 51%;
  transform: translateX(-50%);

}



/*  Frame Container */
.frame-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  pointer-events: none;
}

/*  Main Container */
.main-container {
  height: 498px;
  align-items: flex-start;
  width: 830px;
  position: absolute;
  background-image: url('../assets/img/Background.png');
  background-color: pink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle-container {
  width: auto; 
  justify-content: space-between; 
  align-items: center;
  top: -15px; 
  /* added to ensure it doesn't overlap with .title-banner-container */
  position: relative; 
}

.arrow {
  width: auto; /* adjust as needed */
  cursor: pointer;
}

.right-arrow {
  transform: rotate(180deg);
}

.subtitle {
  font-family: 'DePixelBreit';
  background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent; 
  font-size: 0.8rem; /* adjust as needed */
  color: white; /* adjust as needed */
}

.instructions-container {
  font-family: 'DePixelBreit';
color: red;
width: 550px;
text-align: justify;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#confirmExit, #cancelExit {
  margin: 10px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#confirmExit, #cancelExit {
  margin: 10px;
}


#home-btn {
  width:55px;
}


#home-btn .btn-image-hover,
#rooms-btn .btn-image-hover,
#alerts-btn .btn-image-hover {
  top: 2px;
}
.btn-group-vertical {
  display: flex !important;
  align-items: center !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Hover Image Styles */
.btn .btn-image-hover {
  position: absolute;
  top: -1.5px;
  left: 0;
  display: block; /* Hide by default */
  mix-blend-mode: screen;
}