.main-container {
  flex-direction: column;
}

#content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  width: auto;
  left: -6%;
}

#personal-options {
  display: flex;
  justify-content: center;
  align-items: center;
width: 500px;
padding-top: 10px;
}

.title-banner-container {
  position: relative;
  background-image: url("/assets/img/Glass_Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 50%;
}
#content.stats-dashboard,
#content.settings-dashboard
 {
  display: flex;
  flex-direction: column;
  left: -10px;
}
.settings-options {
  display: flex;
  flex-direction: row;
}
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: red;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 20px;
  align-items: center;
}

#content.trophy-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  left: -10px;
}
.trophies-header {
  color: red;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.trophy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: red;
}
.trophies-pages{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trophy-icons{
  position: relative;
  display: inline-flex;
}
.trophy-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.not-earned-image {
  position: absolute;
  width: 40px;
  image-rendering: pixelated;
  top: -5px;
  left: -2.5px;
  cursor: pointer;
  transition: left 0.3s ease; 
}

.toggle-container {
  position: relative;
  display: inline-flex;
}

.toggle-bar {
  width: auto;
  height: auto;

}

.toggle-button {
  position: absolute;
  top: 0;
  left: -10px;
  cursor: pointer;
  transition: left 0.3s ease; 
}


#leaderboard-content{
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  margin-right:45px
}

#leaderboard-content .player-entry:nth-child(-n+3) {
  /* Apply your CSS styles here */
  /* Example styles: */
padding-bottom: 5px
}

#leaderboard-content .player-entry:nth-last-child(-n+2) {
margin-left: 40px;   padding-bottom: 10px;

}

  #content.leaderboard-dashboard {
    display: flex;
    flex-direction: column;
    left: -10px;
    padding-bottom: 15px;
    color: red;
  }

.subtitle-container {
  display: flex;
  align-items: center;
  color: green;
  font-size: 12;
  font-weight: bold;
  text-transform: uppercase;
}
.subtitle-container .arrow.left-arrow,
.trophies-pages .arrow.left-arrow
 {
  transform: rotate(0deg);
}
 .subtitle-container .arrow.right-arrow,
 .trophies-pages .arrow.right-arrow {
    transform: rotate(180deg);
}
#stats-content {
  color: red;
  padding-bottom: 10px;
}
.title-banner-container.dashboard{
  transform: rotate(-90deg);
  left: 6%;
}
.user-character-container {
  position: relative;
  background-image: url("/assets/img/UI_Glass_Frame_Standard_01a.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}



.title {
  font-family: 'DePixelBreit';
  position: absolute;
  font-size: 0.8rem;
  width: auto;
  background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent; 
  top: 30%; 
  left: 52%;
  transform: translateX(-50%);
}

.character-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto; 
  justify-content: space-between; 
  align-items: center;
  padding-right: 15px;
}

.arrow {
  width: auto; 
  cursor: pointer;
}

.right-arrow {
  transform: rotate(-90deg);
}

.left-arrow {
  transform: rotate(90deg);
}



label {
  font-family: 'DePixelBreit';
  background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent; 
  font-size: 0.8rem;
  color: white;
}

#personal-form {
  display: flex;
  flex-direction: row;
}

#form-fields {
  width: 260px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
 font-family: 'DePixelBreit';

   /*background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 0.8rem;*/

}
/*
#form-fields .form-control {
  font-family: 'DePixelBreit';
  background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
#form-fields input::placeholder {
  color: green; /* change to the color you want */
}

#form-fields input {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0;
  border: none;
  background: none !important;
  white-space: nowrap;
  color: black;


}

#form-fields input:focus {
  overflow: hidden;
  text-overflow: ellipsis;
  border: none !important;
  border-radius: 0;
  background: none!important;
  box-shadow: none;
  outline: none;
}

.input-container {
  position: relative;
  background-image: url("/assets/img/UI_Glass_Frame_Horizontal_01a.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#username {
  width: 140px !important;
}

#password {
  width: 100px!important;
}


#email {
  width: 200px!important;
}

#form-fields > button {
  width: auto !important;
}

.personal-dashboard {
  width: 42px;
  height: 42px;

}