* {
  box-sizing:border-box;
}
  /*  Body Styles */
  body#custom-body {
    background-color: #0d0c13;
    overflow: hidden;
    color: red;
  }
  
  .title-banner-container {
    position: relative;
    background-image: url("/assets/img/Glass_Banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 50%;
  }
  
  
  
  .title {
    font-family: 'DePixelBreit';
    position:absolute;
    font-size: 0.8rem;
    background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent; 
    top: 30%; /* Adjust as needed */
    left: 51%;
    transform: translateX(-50%);
  
  }
  
  
  
  /*  Frame Container */
  .frame-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    pointer-events: none;
  }
  
  /*  Main Container */
  .main-container {
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 830px;
    position: absolute;
    background-image: url('../assets/img/Background.png');
    background-color: pink;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .subtitle-container {
    width: auto; 
    justify-content: space-between; 
    align-items: center;
    top: -15px; 
    /* added to ensure it doesn't overlap with .title-banner-container */
    position: relative; 
  }
  
  .arrow {
    width: auto; /* adjust as needed */
    cursor: pointer;
  }
  
  .right-arrow {
    transform: rotate(180deg);
  }
  
  .subtitle {
    font-family: 'DePixelBreit';
    background: linear-gradient(to top, #75f8d2 45%, #6096db 15%, #2ae3fc 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent; 
    font-size: 0.8rem; /* adjust as needed */
    color: white; /* adjust as needed */
  }
  
  .rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .room-container {
position: relative;
  color: red;
  width: 224px ;
  height: 224px;
left: -10%;
top: -28%;
transform: scale(1.8) ;
/*border: 1px solid red*/
  }

.room-container canvas {
    image-rendering: pixelated;
    
}
.TextMessage_p {
  overflow: hidden scroll;
}
.triviaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  width: 300px;
  height: 500px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.quizzContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quizzTypeButtonsContainer {
  display: flex;
  flex-direction: column;
}

.quizzTypeButtonsContainer button {
  font-size: 8px;
}

.answerField {
  display: flex;
}
.questionContainer {
      display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzTypeButtonsContainer {
  display: flex;
  flex-direction: column;
}

.iconContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
};

.question {
  height: auto;
  border: 1px solid rgb(0, 0, 0);
}

.progressBarContainer {
  position: relative;
}
.hudContainer {
  position: absolute;
  top: -100px;
left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.hudContainer2 {
  position: absolute;
  top: -80px;
  display: flex;

}

.progressBarContainer {
  display: flex;
  align-items: center; /* this will vertically center children */
  justify-content: center; /* this will horizontally center children */
}

.profileContainer {
  display: inline-flex;
  align-items: center;
}



.coinCounterContainer {
  display: flex;
  align-items: center;
  
}

.progressBar {
  display: block;
  position: relative;
  z-index: 1;
}

.progressContainer {
  display: inline-flex;
  position: relative;
  right: 65px;
  justify-content: space-between;
  align-items: center;
  transform: scale(1.8);
  image-rendering: pixelated;
  height: 50px;
  width: 250px;
  padding-top: 10px;
}
.progressBarRectangle {
  padding-right: 10px;
}
.progressCounterContainer {
  font-size: 10px;
}

.FillBar-container {
  position: absolute;
  left: 0px;
  top: 6px;
  width: 30px;
  height: 15px;
}

.EducationalContent {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 40%;
  left: 43%;
  width: 500px;
  height: 200px;
  transform: translate(-50%, -40%);
  border: 0px solid red;
}

.EducationalContent.NoVideo {
  left: 54%;
  align-items: center;
  margin-top: 20px;
  width: 300px;
}

.EducationalContent.NoVideo .Notes {
  margin-top: 0;
  width: 100%;
}

.EducationalContent.NoVideo .CloseButton {
  top: -10px;
  right:10px;
}


.EducationalContent .buttonContainer {
  flex-direction: column;  /* Change from column to row */
  justify-content: space-between;  /* Add space between each button */
  height: 200px;
  padding: 10px;
}

.buttonContainer button {
  width: 50px;
  height: 15px;
  font-size: 8px;  /* Adjust the font size to fit the button size */
  margin: 0 5px;  /* Add horizontal margin */
  padding-bottom: 13px;
}

.VideoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;

}

.VideoTitle {
  transform: rotate(-90deg);
  padding-top: 80px;
  width: 50px;
}

.Notes {
  height: 180px;
  width: 100%;
  font-size: 8px;
  margin-top: 30px;
}

.CloseButton {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  width: 20px;

}

.ResearchTerminalContainer {
  display: flex;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 250px;

  padding: 2rem;

  
  
}

.TerminalContent {
  color: blue;
  display: flex;
  justify-content: center;
  font-size: 8px;
  background-color: white;
  text-align: justify;
  padding: 2rem;
  overflow: hidden scroll;
  width: 100%;
  height: 100%;
}

.themeContainer {
  color: red;
  display: flex;
  align-items: center;
  position: absolute;
  padding-bottom: 10px;
  top: 15%;
}

.themeTitle {
  margin-bottom: 3px;
}
.left-arrow {
  transform: rotate(0deg);
  margin-bottom: 2px;
}

.left-arrow ,
.right-arrow  {
  width: 19px;
  height: 19px;
  image-rendering: pixelated;
}

.ResearchTerminalContainer .buttonContainer {
  display: flex;
  flex-direction: column;
}
.icons-container {
  padding: 0 1em;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-container img {
  cursor: pointer;
}

.left-icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: red;
  image-rendering: pixelated;
  padding: 0 2.3rem;
  top: 8%;
}

.left-icons p {
  margin: 0;
  padding-left: 5px;
}

.right-icons {
  position: fixed;
  color: red;
  gap: 1em;
  image-rendering: pixelated;
  padding: 0 1.5rem;
  right: 0;
  top: 8.2%;
}

.icon {
  opacity: 1;
  transition: all 0.5s ease;
  padding-bottom: 15px;
}

#assist,
#power-ups.icon,
#reduce-time.icon,
#helps.icon {
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;

  opacity: 0;
  transform: translateY(-20px);
  overflow: hidden;
}


.countdown-display {
  position: absolute;
  top: 105%;
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#btnYes, #btnNo {
  margin-top: 20px;
}

.challenge-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;  /* Adjust as needed */
  height: 150%;  /* Auto height will grow with content */
  padding: 20px;  /* Spacing inside the div */
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */
  color: white;  /* Text color */
  border: 1px solid red;
  margin: 20px auto;  /* Center the div and add spacing outside */
  border-radius: 10px;  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;  /* If content overflows, show a scrollbar */
  font-size: 8px;
}

.challenge-type, .challenge-question, .challenge-answer {
  margin: 5px 0;  /* Add some vertical spacing between challenges */
}

.alphabet-soup-grid td {
  cursor: pointer; 
}

/* Define the glowing animation */
@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
  }
  50% {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff, 0 0 80px #ffffff;
  }
  100% {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff, 0 0 80px #ffffff, 0 0 85px #ffffff;
  }
}

/* Apply the animation to the selected <td> elements */
td.selected {
  animation: glowing 1.5s ease-in-out infinite;
}

.iconContainer img {
  cursor: pointer;
}


.shop-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: 8px;
}

.shop-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFD700;
}
.shop-keeper {
  display: flex;
  justify-content: space-around;
}

.token-container {
  background-color: #333;
  padding: 10px;
  flex-grow: 1;
  width: 330px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token-container p {
  margin: 0;
}

.token-container button {
  padding: 5px 10px;
  background-color: #FFD700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}

.token-container button:hover {
  background-color: #b8860b;
}

.receipt-container > button {
  display: block;
  margin: 20px auto 0 auto;
  background-color: #FFD700;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #000;
}

.shop-container > button:hover {
  background-color: #b8860b;
}
